[project]
name = "smart-parking"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi>=0.128.0",
    "pypdf>=6.6.0",
    "uvicorn>=0.40.0",
]
